In [ ]:
!pip install meteostat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting meteostat
  Downloading meteostat-1.6.5-py3-none-any.whl (31 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from meteostat) (1.22.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from meteostat) (2022.7.1)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.9/dist-packages (from meteostat) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.1->meteostat) (1.16.0)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.5

In [ ]:
# Import Meteostat library and dependencies
from datetime import datetime
from meteostat import Hourly

# Set time period
start = datetime(2018, 1, 1)
end = datetime(2023, 4, 29, 23, 59)

# Get hourly data
data = Hourly('72219', start, end)
data = data.fetch()

# Print DataFrame
data.tail()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-04-29 19:00:00,24.5,13.1,49.0,NaN,NaN,282.0,16.7,NaN,1009.5,NaN,2.0
2023-04-29 20:00:00,25.1,12.7,46.0,NaN,NaN,276.0,14.8,NaN,1009.3,NaN,2.0
2023-04-29 21:00:00,25.1,12.3,45.0,NaN,NaN,278.0,16.7,NaN,1009.0,NaN,2.0
2023-04-29 22:00:00,23.4,11.8,48.0,NaN,NaN,283.0,16.7,NaN,1008.6,NaN,2.0
2023-04-29 23:00:00,21.8,10.9,50.0,NaN,NaN,289.0,16.7,NaN,1008.3,NaN,2.0

In [ ]:
data.tail()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2023-04-26   8.8   6.3  13.5   0.3   NaN   49.0  10.7   NaN  1022.2   NaN
2023-04-27  10.1   5.3  14.6   0.0   NaN  320.0  12.2   NaN  1023.2   NaN
2023-04-28  12.9   8.6  17.6   NaN   NaN  289.0  10.7   NaN  1017.8   NaN
2023-04-29  13.6  10.1  17.0   NaN   NaN  146.0   9.7   NaN  1015.7   NaN
2023-04-30  12.2  10.2  14.5   NaN   NaN  173.0  13.1   NaN  1016.9   NaN

In [ ]:
from meteostat import Stations

stations = Stations()
stations = stations.region('IE')
stations = stations.fetch()


stations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 03952 to EIWF0
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           21 non-null     object
 1   country        21 non-null     string
 2   region         20 non-null     string
 3   wmo            17 non-null     string
 4   icao           9 non-null      string
 5   latitude       21 non-null     float64
 6   longitude      21 non-null     float64
 7   elevation      21 non-null     float64
 8   timezone       21 non-null     string
 9   hourly_start   12 non-null     datetime64[ns]
 10  hourly_end     12 non-null     datetime64[ns]
 11  daily_start    15 non-null     datetime64[ns]
 12  daily_end      15 non-null     datetime64[ns]
 13  monthly_start  18 non-null     datetime64[ns]
 14  monthly_end    18 non-null     datetime64[ns]
dtypes: datetime64[ns](6), float64(3), object(1), string(5)
memory usage: 2.6+ KB